
<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1>Control de ingreso</h1>
          </div>
          
          <div class="col s6">
          
          </div>

          <div class="input-field col s6">
          <label for="first_name">Numero Hoja de Ingreso</label>
          <input placeholder="Numero Hoja de Ingreso" id="HojaIngreso" type="text" class="validate">
          </div>
          
          <div class="input-field col s6">
          <label for="first_name">Recibido por</label>
          <input placeholder="Recibido por" id="recibido" type="text" class="validate">
          </div>
          <div class="input-field col s6">
          <label for="first_name">Entregado por</label>
          <input placeholder="Entregado por" id="entregado" type="text" class="validate">
          </div>
          <div class="input-field col s3">
          <label for="first_name">Peso en Libras</label>
          <input placeholder="Peso en Libras" id="peso" type="text" class="validate">
          </div>
          
          <div class="col s4">
            <label>Calidad</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja una calidad</option>
              <option value="Opcion1">A</option>
              <option value="Opcion2">B</option>
              <option value="Opcion3">C</option>
            </select>
          </div>

          <div class="col s5">
            <label>Variedad</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja una Variedad</option>
              <option value="Opcion1">I have</option>
              <option value="Opcion2">no idea</option>
              <option value="Opcion3">what goes in here</option>
            </select>
          </div>
  

          <div class="col s4">
            <label>Tipo de Cacao</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja un tipo de Cacao</option>
              <option value="Opcion1">I have</option>
              <option value="Opcion2">no idea</option>
              <option value="Opcion3">what goes in here</option>
            </select>
          </div>
          
          <div class="col s5">
            <label>Centro Post-Cosecha</label>
            <select class="browser-default ">
              <option value="" disabled selected>Escoja un Centro</option>
              <option value="Opcion1">I have</option>
              <option value="Opcion2">no idea</option>
              <option value="Opcion3">what goes in here</option>
            </select>
          </div>
          
 
          <div>
          <%= link_to "Regresar", quality_controls_path , class: "btn btn-primary"%>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>