<div class = "container">
  <div class = "row">
    <div class = "col m12">
      <div class = "card">
        <div class = "card-content">
          <div class = "page-header">
            <h1>Etapas del proceso</h1>
          </div>
          <table class = "striped">
            <thead>
            <tr>
              <th>Código de lote</th>
              <th>Organización</th>
              <th>Etapa</th>
            </tr>
            </thead>
            <tbody>
              <% @batches.each do |batch| %>
                <tr>
                  <td><%= batch.enterCode %></td>
                  <td><%= CocoaType.find(batch.cocoaType).name %></td>
                  <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                  <%	 if batch.quality_control == nil || batch.sensory_analysis == nil %>
                    <td>Analisis de Calidad</td>
                  <%	 elsif batch.quality_control.revision == nil and batch.ft == false%>
                    <td>Jefe de Calidad</td>
                  <%	 elsif batch.certificate_checks.first == nil and batch.quality_control.revision == nil and batch.ft %>
                    <td>Jefe de Calidad y Certificado</td>
                  <%	 elsif batch.certificate_checks.first != nil and batch.quality_control.revision == nil and batch.ft %>
                      <td>Jefe de Calidad</td>
                  <%	 elsif batch.certificate_checks.first == nil and batch.quality_control.revision != nil and batch.ft %>
                      <td>Certificado</td>
                  <%	 elsif batch.purchase == nil and batch.buy == 1%>
                      <td>Compras</td>
                  <%	 elsif batch.moved == false%>
                      <td>Bodega</td>
                  <%	 elsif batch.export_batch == nil%>
                      <td>Exportación</td>
                  <%	 else %>
                      <td>Bodega y Ventas</td>
                  <%	 end %>
                </tr>
              <%	end  %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>