<div class="dashboard">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <h1>Revision de controles de calidad</h1>
          <table>
            <thead>
              <tr>
                <th>Cdigo</th>
                <th>Tipo</th>
                <th>Genética</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @batches.each do |batch|%>
                <% if not batch.quality_control.nil? %>
                  <% if  batch.quality_control.revision.nil? %>
                    <tr>
                      <td><%=	batch.enterCode %></td>
                      <td><%= CocoaType.find(batch.cocoaType).name %></td>
                      <td><%= GeneticMaterial.find(batch.geneticMaterial).name %></td>
                      <td><%= link_to "Ver análisis", batch.quality_control %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
