  <div class="container">
    <div class="row">
      <div class="col m12">
        <div class="card">
          <div class="card-content">
            <div class="page-header">
              <center>
                <h1>Código de Barra</h1>
                <div> <%= image_tag("barcode39.png") %> </div>
                <strong> <p style="font-size: 24px"><%=@batch.enterCode%> </p> </strong>
              </center>
            </div>
            <div class="card-content">
              <%= link_to "Regresar", @batch.entry_control , class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
