<div class="dashboard">
    <h1>Organizaciones</h1>
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @organizations.each do |organization| %>
                                <tr>
                                    <td><%= organization.id%></td>
                                    <td><%= organization.code %></td>
                                    <td><%= organization.name %></td>
                                    <td><%= link_to "Ingresar Lotes", organization %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div> 
            </div> 
        </div> 
    </div> 
</div>