<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content">
          <div class="page-header">
            <h1>Organizaciones</h1>
          </div>

          
          <%= form_tag({:controller => "entry_controls", :action => "new"}, :method => :get) do %>

            <p>Organización: <%=	 select_tag "searchbox",  options_from_collection_for_select(@organizations, :id, :name), id:"or"%></p>

            <br>
              <%= submit_tag "Aceptar", :name => nil, class:"btn btn-default btn-lg" %>
              <%= link_to "Limpiar", '/organizations' , class: "btn btn-primary"%>
              

          <% end %>
         
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function filterTable() {
    var input,
      filter,
      table,
      tr,
      td,
      i,
      j,
      f;
    input = document.getElementById("oNameCode");
    filter = input.value.toUpperCase();
    table = document.getElementById("oTable");
    tr = table.getElementsByTagName("tr");
    f = true;
    for (j = 0; j < 2; j++) {
      if (f) {
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              f = false;
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    }
  }
</script>
<script>
    $(document).on('turbolinks:load', function () {
        $('select').material_select();
    })
</script>
<script type="text/javascript">    
    $("#reset").on("click", function() {
        $("#recibidopor").val("");
        $("#entregadopor").val("");
        $("#numerohoja").val("");
    });
</script>
<script type="text/javascript">    
    var rowCount = $("#or").value;
    var message =  "Cantidad de resultados: " + rowCount;
    document.getElementById("output").innerHTML=message;
</script>